ShopGames/bin/Debug/net5.0/appsettings.Development.json
ShopGames/bin/Debug/net5.0/appsettings.json
ShopGames/bin/Debug/net5.0/Humanizer.dll
ShopGames/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
ShopGames/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
ShopGames/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
ShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
ShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
ShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
ShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ShopGames/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ShopGames/bin/Debug/net5.0/Microsoft.Identity.Client.dll
ShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
ShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
ShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
ShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
ShopGames/bin/Debug/net5.0/Microsoft.OpenApi.dll
ShopGames/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
ShopGames/bin/Debug/net5.0/Newtonsoft.Json.dll
ShopGames/bin/Debug/net5.0/ShopGames.deps.json
ShopGames/bin/Debug/net5.0/ShopGames.dll
ShopGames/bin/Debug/net5.0/ShopGames.exe
ShopGames/bin/Debug/net5.0/ShopGames.pdb
ShopGames/bin/Debug/net5.0/ShopGames.runtimeconfig.dev.json
ShopGames/bin/Debug/net5.0/ShopGames.runtimeconfig.json
ShopGames/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
ShopGames/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ShopGames/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ShopGames/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
ShopGames/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
ShopGames/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
ShopGames/bin/Debug/net5.0/System.Runtime.Caching.dll
ShopGames/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
ShopGames/bin/Debug/net5.0/ref/ShopGames.dll
ShopGames/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ShopGames/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ShopGames/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ShopGames/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ShopGames/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ShopGames/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
ShopGames/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ShopGames/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
ShopGames/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ShopGames/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
ShopGames/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ShopGames/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
ShopGames/obj/project.assets.json
ShopGames/obj/project.nuget.cache
ShopGames/obj/ShopGames.csproj.EntityFrameworkCore.targets
ShopGames/obj/ShopGames.csproj.nuget.dgspec.json
ShopGames/obj/ShopGames.csproj.nuget.g.props
ShopGames/obj/ShopGames.csproj.nuget.g.targets
ShopGames/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ShopGames/obj/Debug/net5.0/apphost.exe
ShopGames/obj/Debug/net5.0/project.razor.json
ShopGames/obj/Debug/net5.0/ShopGames.AssemblyInfo.cs
ShopGames/obj/Debug/net5.0/ShopGames.AssemblyInfoInputs.cache
ShopGames/obj/Debug/net5.0/ShopGames.assets.cache
ShopGames/obj/Debug/net5.0/ShopGames.csproj.AssemblyReference.cache
ShopGames/obj/Debug/net5.0/ShopGames.csproj.CopyComplete
ShopGames/obj/Debug/net5.0/ShopGames.csproj.CoreCompileInputs.cache
ShopGames/obj/Debug/net5.0/ShopGames.csproj.FileListAbsolute.txt
ShopGames/obj/Debug/net5.0/ShopGames.dll
ShopGames/obj/Debug/net5.0/ShopGames.GeneratedMSBuildEditorConfig.editorconfig
ShopGames/obj/Debug/net5.0/ShopGames.genruntimeconfig.cache
ShopGames/obj/Debug/net5.0/ShopGames.MvcApplicationPartsAssemblyInfo.cache
ShopGames/obj/Debug/net5.0/ShopGames.MvcApplicationPartsAssemblyInfo.cs
ShopGames/obj/Debug/net5.0/ShopGames.pdb
ShopGames/obj/Debug/net5.0/ShopGames.RazorTargetAssemblyInfo.cache
ShopGames/obj/Debug/net5.0/ref/ShopGames.dll
ShopGames/obj/Debug/net5.0/staticwebassets/ShopGames.StaticWebAssets.Manifest.cache
ShopGames/obj/Debug/net5.0/staticwebassets/ShopGames.StaticWebAssets.xml
ShopGames/read.md
ShopGames/appsettings.json
ShopGames/appsettings.json
ShopGames/appsettings.json
