ShopGames/bin/*
ShopGames/obj/*
ShopGames/.vscode/*
ServerShopGames/bin/Debug/net5.0/appsettings.Development.json
ServerShopGames/bin/Debug/net5.0/appsettings.json
ServerShopGames/bin/Debug/net5.0/Humanizer.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.Identity.Client.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
ServerShopGames/bin/Debug/net5.0/Microsoft.OpenApi.dll
ServerShopGames/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
ServerShopGames/bin/Debug/net5.0/Newtonsoft.Json.dll
ServerShopGames/bin/Debug/net5.0/ShopGames.deps.json
ServerShopGames/bin/Debug/net5.0/ShopGames.dll
ServerShopGames/bin/Debug/net5.0/ShopGames.exe
ServerShopGames/bin/Debug/net5.0/ShopGames.pdb
ServerShopGames/bin/Debug/net5.0/ShopGames.runtimeconfig.dev.json
ServerShopGames/bin/Debug/net5.0/ShopGames.runtimeconfig.json
ServerShopGames/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
ServerShopGames/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ServerShopGames/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ServerShopGames/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
ServerShopGames/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
ServerShopGames/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
ServerShopGames/bin/Debug/net5.0/System.Runtime.Caching.dll
ServerShopGames/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
ServerShopGames/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
ServerShopGames/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
ServerShopGames/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
ServerShopGames/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ServerShopGames/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
ServerShopGames/obj/project.assets.json
ServerShopGames/obj/project.nuget.cache
ServerShopGames/obj/ShopGames.csproj.nuget.dgspec.json
ServerShopGames/obj/ShopGames.csproj.nuget.g.props
ServerShopGames/obj/ShopGames.csproj.nuget.g.targets
ServerShopGames/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ServerShopGames/obj/Debug/net5.0/apphost.exe
ServerShopGames/obj/Debug/net5.0/ShopGames.AssemblyInfo.cs
ServerShopGames/obj/Debug/net5.0/ShopGames.AssemblyInfoInputs.cache
ServerShopGames/obj/Debug/net5.0/ShopGames.assets.cache
ServerShopGames/obj/Debug/net5.0/ShopGames.csproj.AssemblyReference.cache
ServerShopGames/obj/Debug/net5.0/ShopGames.csproj.CopyComplete
ServerShopGames/obj/Debug/net5.0/ShopGames.csproj.CoreCompileInputs.cache
ServerShopGames/obj/Debug/net5.0/ShopGames.csproj.FileListAbsolute.txt
ServerShopGames/obj/Debug/net5.0/ShopGames.dll
ServerShopGames/obj/Debug/net5.0/ShopGames.GeneratedMSBuildEditorConfig.editorconfig
ServerShopGames/obj/Debug/net5.0/ShopGames.genruntimeconfig.cache
ServerShopGames/obj/Debug/net5.0/ShopGames.MvcApplicationPartsAssemblyInfo.cache
ServerShopGames/obj/Debug/net5.0/ShopGames.MvcApplicationPartsAssemblyInfo.cs
ServerShopGames/obj/Debug/net5.0/ShopGames.pdb
ServerShopGames/obj/Debug/net5.0/ShopGames.RazorTargetAssemblyInfo.cache
ServerShopGames/obj/Debug/net5.0/ref/ShopGames.dll
ServerShopGames/obj/Debug/net5.0/refint/ShopGames.dll
ServerShopGames/obj/Debug/net5.0/staticwebassets/ShopGames.StaticWebAssets.Manifest.cache
